<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226265609466-afjhb58sputcm3fopvr9lguifl50ahj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226265609466-afjhb58sputcm3fopvr9lguifl50ahj4</string>
	<key>API_KEY</key>
	<string>AIzaSyAQQaUcopwoiYjXa0Ui-u0BG0xE6frt7JE</string>
	<key>GCM_SENDER_ID</key>
	<string>226265609466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.castanho.eatermeals</string>
	<key>PROJECT_ID</key>
	<string>what-for-dinner-d0f94</string>
	<key>STORAGE_BUCKET</key>
	<string>what-for-dinner-d0f94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226265609466:ios:40b018460f50e43f090543</string>
</dict>
</plist>